*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e6eae8;
    line-height: 17px;
}

html {
      scroll-behavior: smooth !important;
}


body::-webkit-scrollbar {
    background-color:#fff;
    width:16px
}

body::-webkit-scrollbar-track {
    background-color:#fff
}

body::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    border:4px solid #fff
}

#loading {
    text-align: center;
}

body::-webkit-scrollbar-button {display:none}

.btn-main {
    background: #1abc9c !important;
    color: #fff;
}

.btn-main:hover {
  opacity: 0.9;  
}

.top_bar {
    width: 100%;
    height: 50px;
    background: #1abc9c;
    border-bottom: 5px solid #16a085;
    margin: 0px 0px 10px 0;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 3;
}

.logo {
    font-family: 'Lobster', cursive;
}

.logo a {
    color:#077c65;
    font-size: 30px;
    letter-spacing: 2px;;
    text-decoration: none;
}

nav a{
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    padding: 10px;
}

nav a:hover{
    color: #fbc531;;
    text-decoration: none;
    border-bottom: 2px solid #fbc531;;
}
.nav_image 
{
    border-radius: 50%;
}
.username {
    font-size: 17px;
    font-weight: bold;
    color: #4b4b4b
}

.main_wrapper {
    margin: 0 auto;
    position: relative;
    top:70px;
    padding: 0 10px;
    width: 75%;
    min-width: 950px;
    display: flex;
}

.posts_container {
    flex: 1;
}

.column {
    background: #fff;
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #d3d3d3;
    
}

.user_details {
    width: 250px;
    margin-bottom: 20px;
    display: flex;
    height: 150px;
}

.user_details img {
    margin-right: 10px;
    border-radius: 5px;
}

.user_details div {
    align-self: center;
}

.main_column {
    flex: 1;
}

.main_column form {
    display: flex;
    flex-direction: column;
}



.main_column form textarea, .emojionearea {
    border-radius: 5px !important;
    border: 1px solid #d3d3d3 !important;
    font-size: 17px !important;
    resize: none !important;
    height: 100px !important;
    width: 100%;
    display: block;
}

.main_column form .emojionearea-editor{
    min-height: 100px !important;
    height: 100px !important;
}

.main_column form #post_text::placeholder {
    color: #bbbbbb !important;
    /* background: #1abc9c; */
}



.main_column form textarea:focus {
    outline: none !important;
}

.main_column form .icons_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_column form .icons_area .upload_icons {
    display: inline-block;
    color: #4b4b4b;
}

.main_column form .icons_area .upload_icons i {
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    background: #1abc9c;
}

.main_column form .icons_area .upload_icons i:hover {
    transform: scale(1.1);
}
.upload_icons > div {
    display: inline-block;
    margin: 2px 5px;
}

#imageInput, #videoInput{
  display: none;
}
.icon{
  cursor: pointer;
}

.status_post {
    margin: 10px;
}

.status_post .post_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post_profile {
    display: flex;
    align-items: center;
}

.post_profile img {
    display: inline-block;
    margin-right: 8px;
    border-radius: 50%;
}

.time {
    color: #ACACAC;
    display: inline-block;
    margin-top: 5px;
}

#post_body {
    margin-top: 10px;
}

.post_user a{
    font-size: 17px;
    color: #1abc9c;
    font-weight: 500;
}

.post_options {
    background: transparent;
    border: none;
    color: #ACACAC;
    position: relative;
    left: -10px;
}

.theEnd {
    text-align: center;
}

iframe#comment_iframe {
    max-height: 300px;
    width: 100%;
}

#comment_form textarea  {
    width: 100% !important;
    border-radius: 2px !important;
    height: 60px !important;
    display: block;
    border: 2px solid rgb(233, 231, 231) !important;
    font-size: 14px !important;
    padding: 10px;
}

#comment_form textarea::placeholder {
    color: #bbbbbb;
}

#comment_form .emojionearea,  #comment_form .emojionearea-editor {
   min-height: 40px !important;
   height: 60px !important;
   width: 100% !important;
   border: 1px solid rgb(233, 231, 231) !important;
   font-size: 14px !important;
}



.comment_section {
    margin-top: 15px;
    border-bottom: 0.5px solid rgb(233, 231, 231);
}

.comment_section:last-child {
    border-bottom: none;
}

.comment_section img {
    margin-right: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#post_comment_btn {
    background: #1abc9c;
    padding: 5px;
    margin: 5px 0;
    border: none;
    color: #fff;
    width: 110px;
    display: inline-block;
    height: 30px;
    float: right;
    cursor: pointer;
    letter-spacing: 0.8px;
}

#comment_user_section {
    display: inline-flex;
    align-items: center;
}

#posted_user {
    color: #1abc9c;
    text-decoration: none;
    font-size: 14px !important;
    font-weight: 600;
}

.comment_message {
    margin-bottom:10px;
    display: flex;
    align-items: center;
}

.message_options {
    width: 60px;
    text-align: center;
}

.like_button {
    color: #1abc9c !important;
    background: transparent;
    border:none;
    
}

.like_button i {
    font-size: 20px !important;
}

.message_contents {
    background: #dff9fb;
    flex: 1;
    font-size: 14.5px;
    padding: 5px;
}

.time {
    color: #ACACAC;
}

.clr {
    clear: both;
}

.emojionearea .emojionearea-picker {
    right:0 !important;
}

